<div class="Wholecontainer">
    <div class="dialog_container">
        <div class="title" >
        <h3 class="Heading"> ADD A NEW TASK </h3>
        </div>
        <div (keyup.enter)="log()" class="form_Container">
            <form [formGroup]="ToDoList">
            <input type="text" placeholder="Task Name" class="input_box" id="taskname" name="taskname" formControlName="TaskName">
            <div @fadeIn *ngIf="ToDoList.get('TaskName')?.invalid && ToDoList.get('TaskName')?.touched" class="error">
                Please enter valid details
            </div>
            <div class="MultipleActionButtons">
                <div id="timer" class="input_box" >TIMER</div>
                <div id="edit" class="input_box"><img src="../home/../../assets/pen_1250615 1.png" alt=""></div>
                <div  id="Repetable">
                    <mat-slide-toggle color="warn"></mat-slide-toggle>
                </div>
            </div>
            <input type="text" placeholder="Tag Name" class="input_box" id="tag" name="taskname" formControlName="InputBox">
                    <div @fadeIn *ngIf="ToDoList.get('InputBox')?.invalid && ToDoList.get('InputBox')?.touched" class="error">
                        Please enter valid details
                    </div>
            <input type="text" placeholder="Asigne Name" class="input_box" id="asignee" name="taskname" formControlName="AsigneName">
                    <div @fadeIn *ngIf="ToDoList.get('AsigneName')?.invalid && ToDoList.get('AsigneName')?.touched" class="error">
                        Please enter valid details
                    </div>
            <input type="text" placeholder="Description" class="description" id="description" name="taskname" formControlName="Description">
                <div @fadeIn *ngIf="ToDoList.get('Description')?.invalid && ToDoList.get('Description')?.touched" class="error">
                    Please enter valid details
                </div>
        </form>
        </div>
    </div>
</div>