h2{
    margin: 0px 0 15px 0;
}
.add_task , .task{
    display: flex;
        align-items: center;
        font-family: Montserrat;
        width: 400px;
        height: 270px;
        border-radius: 30px;
        margin: 15px;
}
.add_task{
    display: flex;
    justify-content: center;
}
.task{
    background-color: white;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.73)
}
.Window{
        justify-content: center;
}
.Window , .title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.title{
    margin: 0 30px 0 25px;
}
.complition{

}
.circle{
    margin: 0 0 0 15px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner-circle{
    height: 25px;
    border-radius: 50%;
    background-color: #A4FFA3;
    width: 25px;
}
.description{
    font-size: 16px;
    margin: 0 0 0 25px;
}
.timer{
    margin: 15px 0 0 25px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #dcdddd;
}
.tande{
    display: flex;
    flex-direction: row;
}
.edit{
    margin: 15px 0 0 15px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #dcdddd;
}
.tagname{
    margin: 15px 0 0 25px;
    color: white;
    font-family: Montserrat;
    background-color: #FF4A4A;
    width: 130px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../../assets/1.png);
    background-size: cover;
}
.Name{
    margin: 0 0 0 15px;
    font-size: 16px;
    font-weight: bold;
}
.asigne{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0 0 25px;
}
.add_task_button{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.73);
}
.add_icon{
    width: 30px;
}

.add_task_button:active .add_icon{
    width: 25px;
}

.add_icon{
    transition: 0.2s;
}
