<div>
<div fxFlex="20" class="Side_Nav" fxLayoutAlign="start start">
    <div class="Profile" fxLayout = "row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <div class="Profile_Picture"></div>
        <div fxLayoutAlign="center center" style="font-weight: 400; font-size: 16px; color: antiquewhite;">{{UserName}}</div>
    </div>
    <div style="width: 100%;height: 100%;" fxLayoutAlign="end center">
        <div class="border"></div>
    </div>
</div>
<div fxFlex="80" *ngIf="tasks.length > 0 && dataLoaded" class="Window">
    <div *ngFor=" let items of tasks let i=index ">
        <div class="task" *ngIf="items.deleted != 1">
            <div>
                <div class="asigne">
                    <div class="profile_picture"></div>
                    <div class="Name">{{items.AsigneeName}}</div>
                </div>
                <div class="title">
                    <h2>
                        <div class="circle">
                            <div class="inner-circle" [style.background-color]="myColor(i)[0]"></div>
                        </div>
                    </h2>
                    <div>
                        <h2>{{items.TaskName}}</h2>
                    </div>

                </div>
                <div class="description">{{items.Descriiption}}</div>
                <div class="tande">
                    <div class="timer"></div>
                    <div class="edit"><mat-icon (click)="editemiter(i)" class="icon">edit</mat-icon>
                    </div>
                    <div class="edit" (click)="deleteData(items.id)" style="background-color: rgb(247, 72, 72);"><mat-icon
                            class="icon">delete</mat-icon>
                    </div>
                </div>
                <!-- <div class="tagnamecover" *ngIf="items.Tags != null">
                    <div class="tagname" *ngFor="let datas of items.Tags.split(',');let j = index ">
                        {{datas}}
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <div>
        <div class="add_task" #evnt>
            <div class="add_task_button"><img (click)="emit(emittedValue)" class="add_icon"
                    src="../../assets/add_992651.png" alt="add"></div>
        </div>
    </div>
</div>
</div>