
<div class="home" fxFlex="100">

    <!-- <div fxFlex="20" class="Side_Nav" fxLayoutAlign="start start">
        <div class="Profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <div class="Profile_Picture"></div>
            <div fxLayoutAlign="center center" style="font-weight: 400; font-size: 16px; color: antiquewhite;">
                {{UserName}}</div>
        </div>
    </div> -->
    <div fxFlex="30" fxFlex.lt-md="100" (click)="EnterDOM()" [@SlideInForm] *ngIf="animationData == 'visible'" fxLayoutAlign="center center" class="Dialog_Container" id="Dialog">
        <div (click)="LeaveDom()" class="close_button">
            <mat-icon style="font-size: 32px;">clear</mat-icon>
        </div>
        <form [formGroup]="Task_form" class="Heading" fxLayout="column" fxFlex="80">
            <div class="Input_Container" fxLayout="column">
                <div fxLayoutAlign="start center" fxLayout="row"
                    *ngIf="Task_form.get('TaskName')?.invalid && Task_form.get('TaskName')?.touched">
                    <mat-icon class="error">report</mat-icon>
                    <div class="error">
                        Please enter valid details
                    </div>
                </div>
                <div fxLayoutAlign="space-between center">
                    <input fxFlex="70" type="text" placeholder="Task Name" class="input" id="Task_Name"
                        formControlName="TaskName">
                    <div fxFlex="25" fxLayoutAlign="center center" style="height: 43.3px;padding: 0px;"
                        class="input Repetable">
                        <mat-slide-toggle fxLayoutAlign="center center" formControlName="Repetable"
                            color="basic"></mat-slide-toggle>
                    </div>
                </div>
            </div>
    
            <div class="Input_Container" fxLayout="column">
                <div fxLayoutAlign="start center" fxLayout="row"
                    *ngIf="Task_form.get('AsigneName')?.invalid && Task_form.get('AsigneName')?.touched">
                    <mat-icon class="error">report</mat-icon>
                    <div @fadeIn class="error">
                        Please enter valid details
                    </div>
                </div>
                <input type="text" placeholder="AsigneName" class="input" id="Asigne" formControlName="AsigneName">
            </div>
            <div class="Input_Container" fxLayout="column">
                <div fxLayoutAlign="start center" fxLayout="row"
                    *ngIf="Task_form.get('Descriiption')?.invalid && Task_form.get('Descriiption')?.touched">
                    <mat-icon class="error">report</mat-icon>
                    <div @fadeIn class="error">
                        Please enter valid details
                    </div>
                </div>
                <textarea type="text" placeholder="Description" class="input" id="Description"
                    formControlName="Descriiption"></textarea>
            </div>
            <Button class="submit_button" (click)="Submit(Task_form)">SUBMIT</Button>
        </form>
    </div>
    <div fxLayout="column" (click)="EnterDOM()" fxLayoutAlign.lt-md="center center"  fxLayoutAlign="start start" class="Content_Cover"  *ngIf="tasks.length > 0 && dataLoaded && this.TimerData != []">
        <div fxLayout="row">
            <div class="Add_Task_Button" fxLayoutAlign="center center">
                <h1 fxLayoutAlign="center center">+</h1>
                <div class="circle"></div>
            </div>
            <div class="Support_Me Kaasu_Kaasu_Kudu" fxLayoutAlign="center center">
                <mat-icon style="color: white;z-index: 2;">money</mat-icon>
                <div class="Money"></div>
            </div>
        </div>
        <div fxLayout="row">
        <div fxLayoutAlign="center center" fxLayoutAlign="space-between"  class="Filter_Tag" *ngFor="let items of UniqueTag let i = index">
            <div fxLayoutAlign="center center" class="Filter_Name" (click)="ApllayFilter(items)" >{{items}}</div>
            <mat-icon fxLayoutAlign="end center" class="Remove_Filter" (click)="RemoveFilter()" style="font-size: 14px;">clear</mat-icon>
        </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign.lt-md="center center" >
            <div [@fadeIn]="{value: '', params: {numberOfDropdownItems : i*40 } }" class="Repeted_Tasks" *ngFor=" let items of FilerDate let i=index"  fxLayout="column">
                <div fxLayout="column" class="Task_Cards" *ngIf="(items.Label == FilterName) || FilterName == 'none' ">
                <div (click)="Edit_Task(items)" class="Task_Detail_Header" fxLayout="row" fxLayoutAlign="start center">
                    <div class="Task_Profile" fxLayoutAlign="center center">
                        {{(items.AsigneeName).slice(0,2)}}
                    </div>
                    <div class="Task_Title" fxLAyout="column" fxLayoutAlign="start start" fxLayout="column">
                        <div class="Task_Name" >{{items.TaskName}}</div>
                        <div  class="Asignee_Name">{{items.AsigneeName}}</div>
                    </div>
                    <div class="Delete_Button" (click)="deleteData(items.id)" fxLayoutAlign="center center">
                        <mat-icon class="icon" fxLayoutAlign="center center">delete</mat-icon>
                    </div>
                </div>
                <div class="Timer_Container" fxLayoutAlign="center center" fxFlex="100">
                    <div [style.color]=" TimerData[i] == 'EXPIRED' ? '#FF6A6A' : 'white' " class="Timer">{{StartTimer(items,i)}}{{TimerData[i]}}</div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div>
    <div class="add_task" #evnt>
        <div class="add_task_button"><img (click)="emit(emittedValue)" class="add_icon"
                src="../../assets/add_992651.png" alt="add"></div>
    </div>
</div> -->

<!-- <div class="tagnamecover" *ngIf="items.Tags != null">
                    <div class="tagname" *ngFor="let datas of items.Tags.split(',');let j = index ">
                        {{datas}}
                    </div>
</div> -->

<!-- <div *ngIf="tasks.length > 0 && dataLoaded" class="Window">
    <div *ngFor=" let items of tasks let i=index ">
        <div class="task" *ngIf="items.deleted != 1">
            <div>
                <div class="title">
                    <div>
                        <h2>{{items.TaskName}}</h2>
                    </div>
                    <h2>
                        <div class="circle">
                            <div class="inner-circle" [style.background-color]="myColor(i)[0]"></div>
                        </div>
                    </h2>
                </div>
                <div class="description">{{items.Descriiption}}</div>
                <div class="tande">
                    <div class="timer"></div>
                    <div class="edit"><mat-icon (click)="editemiter(i)" class="icon">edit</mat-icon>
                    </div>
                    <div class="edit" (click)="deleteData(i+1)" style="background-color: rgb(247, 72, 72);"><mat-icon
                            class="icon">delete</mat-icon>
                    </div>
                </div>
                <div class="tagnamecover" *ngIf="items.Tags.split(',').length > 0">
                    <div class="tagname" *ngFor="let datas of items.Tags.split(',');let j = index ">
                        {{datas}}
                    </div>
                </div>
                <div class="asigne">
                    <div class="profile_picture"></div>
                    <div class="Name">{{items.AsigneeName}}</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="add_task" #evnt>
            <div class="add_task_button"><img (click)="emit(emittedValue)" class="add_icon"
                    src="../../assets/add_992651.png" alt="add"></div>
        </div>
    </div>
</div> -->