//Navebar style 
.profile_picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../../assets/1.png);
    background-size: cover;
}
.Side_Nav{
    border-right: solid #383838 3px;    
    background-color: #1e1f22;
    height: 100vh;
}

.Profile_Picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c6c6c6;
}

.Profile{
    padding: 20px 0 0 20px;
}

//Main content style used to style task cards

.Content_Cover{
    
    padding: 80px;
    background-color: #1e1f22;
}

.Task_Cards{
    padding: 10px;
    position: relative;
    width: 240px;
    height: 150px;
    background-color: rgba(49, 49, 49, 5);
    border-radius: 5PX;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.Task_Profile{
    margin-right: 8px;
    width: 50px;
    height: 50px;
    background-color: #7292E7;
    border-radius: 50%;
    font-size: 14px;
    color: white;
}

.Task_Name{
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.Asignee_Name{

    font-weight: 400;
    color: #bebebe;
    font-size: 10px;
    height: min-content;    
}
.Delete_Button{
    position: absolute;
    right: 0;
    top :0;
    height: 45px;
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FF8787;
}
.icon{
    font-size: 18px;
}
.Timer{
    color: white;
    font-weight: 500;
    font-size: 36px;
}